<h4>Add Todo</h4>
<form class="mb-3" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="title"
      name="title"
      id="title"
    />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Todo Description</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="desc"
      name="desc"
      id="desc"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
